PORT=3000
NODE_ENV=development
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=7d
MONGODB_URI=mongodb+srv://navrazovtimur_db_user:Uuv5NjxI4YQM7x16@cluster0.phdf2cr.mongodb.net/?appName=Cluster0

# For file uploads (optional, defaults to ./uploads)
UPLOAD_DIR=./uploads
